<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gqb.show.dao.ShowDao">

    <!--cloum是数据库建表的字段名 ,property是java实体类的属性名-->
    <resultMap id="BaseResultMap" type="com.gqb.show.entity.Show">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="showtype_id" property="showTypeId" jdbcType="BIGINT"/>
        <id column="show_name" property="showName" jdbcType="VARCHAR"/>
        <id column="show_intro" property="showIntro" jdbcType="VARCHAR"/>
        <id column="show_performer" property="showPerformer" jdbcType="VARCHAR"/>
        <id column="show_city" property="showCity" jdbcType="VARCHAR"/>
        <id column="show_place" property="showPlace" jdbcType="VARCHAR"/>
        <id column="show_time" property="showTime" jdbcType="TIMESTAMP"/>
        <id column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <id column="show_poster" property="showPoster" jdbcType="VARCHAR"/>
        <id column="show_mobile" property="showMobile" jdbcType="VARCHAR"/>
        <id column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="CompleteResultMap" type="com.gqb.show.entity.vo.CompleteShow">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="show_type" property="showType" jdbcType="VARCHAR"/>
        <id column="show_name" property="showName" jdbcType="VARCHAR"/>
        <id column="show_performer" property="showPerformer" jdbcType="VARCHAR"/>
        <id column="show_city" property="showCity" jdbcType="VARCHAR"/>
        <id column="show_place" property="showPlace" jdbcType="VARCHAR"/>
        <id column="show_time" property="showTime" jdbcType="TIMESTAMP"/>
        <id column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <id column="show_Poster" property="showPoster" jdbcType="VARCHAR"/>
        <id column="show_mobile" property="showMobile" jdbcType="VARCHAR"/>
        <id column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="PerfectShowResultMap" type="com.gqb.show.entity.vo.PerfectShow">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="show_type" property="showType" jdbcType="VARCHAR"/>
        <id column="show_name" property="showName" jdbcType="VARCHAR"/>
        <id column="show_intro" property="showIntro" jdbcType="VARCHAR"/>
        <id column="show_performer" property="showPerformer" jdbcType="VARCHAR"/>
        <id column="show_city" property="showCity" jdbcType="VARCHAR"/>
        <id column="show_place" property="showPlace" jdbcType="VARCHAR"/>
        <id column="show_time" property="showTime" jdbcType="TIMESTAMP"/>
        <id column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <id column="show_poster" property="showPoster" jdbcType="VARCHAR"/>
        <id column="show_mobile" property="showMobile" jdbcType="VARCHAR"/>
        <id column="seat_type" property="seatType" jdbcType="VARCHAR"/>
        <id column="seat_price" property="seatPrice" jdbcType="DECIMAL"/>
        <id column="seat_number" property="seatNumber" jdbcType="INTEGER"/>
        <id column="seat_surplus" property="seatSurplus" jdbcType="INTEGER"/>
        <id column="sell_time" property="sellTime" jdbcType="TIMESTAMP"/>
        <id column="heat" property="heat" jdbcType="INTEGER"/>
    </resultMap>


    <select id="getAllShows" resultMap="BaseResultMap">
        select * from show_list
    </select>

    <!--列表显示，合并数据-->
    <select id="getAllShowByQuery" parameterType="com.gqb.show.entity.vo.QueryAllShow" resultMap="PerfectShowResultMap">

    </select>

    <!--不合并-->
    <select id="getPerfectShow" parameterType="com.gqb.show.entity.vo.QueryAllShow" resultMap="PerfectShowResultMap">
        select show_list.*,showtype.show_type,ticket.seat_type,ticket.seat_price,ticket.seat_number,ticket.seat_surplus,heat
        from show_list,show_type,show_heat,ticket
        where showtype.id = show_list.showtype_id
        AND show_list.id=ticket.show_id
        AND show_list.id=show_heat.show_id
        <if test="showType!=null">
            AND show_type= #{showType}
        </if>
        <if test="showCity!=null">
            AND show_city like "%"#{showCity}"%"
        </if>
        <if test="showTime==0">
            AND show_time > now()
        </if>
        <if test="showTime==7">
            AND show_time > now()
            AND DATE_ADD(CURDATE(), INTERVAL 7 DAY) >= date(show_time)
        </if>
        <if test="showTime==30">
            AND show_time > now()
            AND DATE_ADD(CURDATE(), INTERVAL 1 MONTH ) >= date(show_time)
        </if>
    </select>

    <select id="getCompleteShow" parameterType="com.gqb.show.entity.vo.QueryShow" resultMap="CompleteResultMap">
        select show_list.id,show_type,show_name,show_performer,show_city,show_place,show_time,end_time,show_mobile,show_poster,create_time
        from show_list , showtype
        where showtype.id = show_list.showtype_id
        <if test="showType!=null">
            AND show_type= #{showType}
        </if>
        <if test="showName!=null">
            AND show_name like "%"#{showName}"%"
        </if>
        <if test="showPerformer!=null">
            AND show_performer like "%"#{showPerformer}"%"
        </if>
        <if test="showCity!=null">
            AND show_city like "%"#{showCity}"%"
        </if>
        <if test="beginTime!=null">
            AND show_time > #{beginTime}
        </if>
        <if test="endTime!=null">
            AND show_time &lt; #{endTime}
        </if>
    </select>

    <select id="getShowByPageAndTime" parameterType="com.gqb.show.entity.Show" resultMap="BaseResultMap">
        select * from show_list
         where show_time > now()
        <if test="id!=null">
            AND id =#{id}
        </if>
        <if test="showName!=null">
            AND show_name like "%"#{showName}"%"
        </if>
        <if test="showCity!=null">
            AND show_city like "%"#{showCity}"%"
        </if>
    </select>

    <select id="getShowByCity" parameterType="String" resultMap="BaseResultMap">
        select * from show_list where show_city like "%"#{showCity}"%";
    </select>

    <select id="getShowByPerformer" parameterType="String" resultMap="BaseResultMap">
        select * from show_list where show_performer like "%"#{showPerformer}"%";
    </select>

    <select id="getShowByType" parameterType="String" resultMap="BaseResultMap">
        select show_list.id,show_type,show_name,show_performer,show_city,show_place,show_time,end_time,show_poster,show_mobile,create_time
        from show_list join showtype where show_list.showtype_id=showtype.id and showtype.show_type like "%"#{showType}"%"
    </select>

    <select id="getShowById" parameterType="Long" resultMap="BaseResultMap">
        select * from show_list where id=#{id};
    </select>

    <select id="getShowByName" parameterType="String" resultMap="BaseResultMap">
        select * from show_list where show_name like "%"#{showName}"%";
    </select>

    <!--useGeneratedKeys和keyProperty获取数据库自动生成的id，只对insert有效-->
    <insert id="createShow" parameterType="com.gqb.show.entity.Show" useGeneratedKeys="true" keyProperty="id">
        insert into show_list(showtype_id,show_name,show_intro,show_performer,show_city,show_place,show_time,end_time,show_poster,show_mobile)
            values(#{showTypeId},#{showName},#{showIntro},#{showPerformer},#{showCity},#{showPlace},#{showTime},#{endTime},#{showPoster},#{showMobile});
    </insert>

    <delete id="deleteShowById" parameterType="Long">
        delete from show_list where id =#{id};
    </delete>

    <delete id="deleteShowByName" parameterType="String">
        delete from show_list where show_name=#{showName};
    </delete>

    <update id="updateShow" parameterType="com.gqb.show.entity.Show">
        update show_list
        <set>
            <if test="showTypeId!=null">
                showtype_id=#{showTypeId},
            </if>
            <if test="showName!=null">
                show_name=#{showName},
            </if>
            <if test="showIntro!=null">
                show_intro=#{showIntro},
            </if>
            <if test="showPerformer!=null">
                show_performer=#{showPerformer},
            </if>
            <if test="showCity!=null">
                show_city=#{showCity},
            </if>
            <if test="showPlace!=null">
                show_place=#{showPlace},
            </if>
            <if test="showTime!=null">
                show_time=#{showTime},
            </if>
            <if test="endTime!=null">
                end_time=#{endTime},
            </if>
            <if test="showPoster!=null">
                show_poster=#{showPoster},
            </if>
            <if test="showMobile!=null">
                show_mobile=#{showMobile},
            </if>
        </set>
        where id=#{id};
    </update>

</mapper>